{% extends 'base.html.twig' %}

{% block title %}Emprunteur{% endblock %}

{% block body %}
    <h1>Emprunteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ emprunteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ emprunteur.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ emprunteur.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ emprunteur.user.email }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ emprunteur.user.actif ? 'Actif' : 'Désactif' }}</td>
            </tr>
            <tr>
                <th>Emprunt</th>
                <td>{% for emprunt in emprunteur.emprunts %}
                    <a href="{{ path('app_admin_emprunt_show', {id: emprunt.id}) }}">{{ emprunt.id }}{% if not loop.last %},{% endif %}</a>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ emprunteur.createdAt ? emprunteur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ emprunteur.updatedAt ? emprunteur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_emprunteur_index') }}">back to list</a>

    <a href="{{ path('app_admin_emprunteur_edit', {'id': emprunteur.id}) }}">edit</a>

    {{ include('admin/emprunteur/_delete_form.html.twig') }}
{% endblock %}
