{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<h1>{{title}}</h1>
<h2>Liste de tous les utilisateurs triés par ordre alphabétique d'email</h2>
{% for user in users %}
<p>{{user.email}} ( id : {{user.id}})</p>
{% endfor %}

<h2>Identification de l'utilisateur dont l'id est 1</h2>
<p>{{user1.email}} ( id : {{user1.id}})</p>

<h2>Identification de l'utilisateur dont l'email est foo.foo@example.com</h2>
<p>{{foo.email}} ( id : {{foo.id}})</p>

<h2>Liste de tous les utilisateurs dont le rôle est USER triés par ordre alphabétique d'email</h2>
{% for user in rolesUsers %}
<p>{{user.email}} ( id : {{user.id}})</p>
{% endfor %}

<h2>Liste de tous les utilisateurs inactifs triés par ordre alphabétique d'email</h2>
{% for user in disabledUsers %}
<p>{{user.email}} ( id : {{user.id}})</p>
{% endfor %}


{% endblock %}
